<a href="https://colab.research.google.com/github/bavel4885/python_report/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 사전의 구조와 이해

price = {'김밥': 5000, '어묵':3000, '떡볶이':2000}

print("김밥의 가격은?", price ["김밥"])
print("dict_values", [5000,3000,2000])

김밥의 가격은? 5000
dict_values [5000, 3000, 2000]

In [6]:
# 리스트의 슬라이싱을 사용하여 아래를 출력하세요

tp = [1,2,3,4,5,6,7]

print(tp [0])

print(tp [:3])

print(tp[3:])

print(tp [6])

print(tp[::-1])

1
[1, 2, 3]
[4, 5, 6, 7]
7
[7, 6, 5, 4, 3, 2, 1]

In [10]:
# 조건문
# 점수를 입력받아 등급을 출력하세요
# 등급표 81~100	A / 61~80	B / 41~60	C / 21~40	D / 0~20	E

score = int(input("점수를 입력하세요: "))

if score > 80:
  re = "A"
elif score > 60:
  re = "B"
elif score > 40:
  re = "C"
elif score > 20:
  re = "D"
else:
  re = "E"

print('점수는 %d점이며' %score , '등급은 %s등급 입니다.'%re)

점수를 입력하세요: 90
점수는 90점이며 등급은 A등급 입니다.

In [12]:
# 함수를 만들고 두 수를 입력받아 연산하세요

a = int(input('첫 번째 정수를 입력하세요: '))
b = int(input('두 번째 정수를 입력하세요: '))

print("덧셈 함수 연산: ", a+b)
print("곱셈 함수 연산: ", a*b)
print("제곱 함수 연산: ", a**b)

첫 번째 정수를 입력하세요: 3
두 번째 정수를 입력하세요: 5
덧셈 함수 연산:  8
곱셈 함수 연산:  15
제곱 함수 연산:  243

In [13]:
# 알고리즘 생성
# 피보나치 수열을 계산하는 함수를 생성하고 자연수 10을 넣어 실행하세요
pivo = lambda n: 1 if n<=2 else pivo(n-1) + pivo(n-2)


print(pivo(10))

55

In [16]:
# 클래스
# 사람 (Human) 클래스를 정의하고 (이름, 나이, 성별)을 받는 생성자를 추가하세요.
class Human:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex
HONG = Human("길동", 25, "남자")
print(HONG.name)
print(HONG.age)
print(HONG.sex)

길동
25
남자